/* line 3, ../../../app/sass/common/header.sass */
#header {
  position: relative;
  padding: 230px 0 40px;
}

/* line 7, ../../../app/sass/common/header.sass */
#logo {
  position: absolute;
  top: 15px;
  left: 0;
  display: block;
  text-indent: -9999px;
  width: 200px;
  height: 120px;
  background: url('/img/sprite-s473d6c9c1b.png') no-repeat 0 0;
}
